<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5wKsXFgLt2_TgJoNXf1dDfkpTaVHDrLc</string>
	<key>GCM_SENDER_ID</key>
	<string>717424928103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whats-app-clone-c86a5</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-clone-c86a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717424928103:ios:1e79f43aef52d3ec37fbc2</string>
</dict>
</plist>